<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{%if filename%}

<div style="display: inline-block;">
    <img src="{{url_for('static', filename='images' + filename)}}" >
</div>

{%endif%}
{% if restored_img_url  %}

<div style="display: inline-block;">
    <a href="{{ restored_img_url }}">
        <img src="{ {restored_img_url}}" alt="" srcset="">

    </a>
</div>
{%endif%}


    <form method=post action="/" enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>


</body>
</html>